{% extends "events/base.html" %}
{% load event_tags %}
{% load perm_tags %}
{% load styled_forms %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{{ block.super }}{% trans 'Edit' %}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css"
          rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/events.css">

{% endblock %}

{% block content %}
    <div class="t">
        <h1>{% firstof MODULE_EVENTS_LABEL trans 'Event' %}{% trans " Edit" %}</h1>

        <div class="event-tabs">
            <ul class="nav nav-tabs">
                <li role="presentation" class="dropdown {% if label == 'overview' %}active{% endif %}">
                    <a href="{% url "event.edit" event.pk %}">{% trans "Overview" %}</a>
                </li>
                <li role="presentation" class="dropdown {% if label == 'location' %}active{% endif %}">
                    <a href="{% url "event.location_edit" event.pk %}">{% trans "Location" %}</a>
                </li>
                <li role="presentation" class="dropdown {% if label == 'organizer' %}active{% endif %}">
                    <a href="{% url "event.organizer_edit" event.pk %}">{% trans "Organizer" %}</a>
                </li>
                <li role="presentation" class="dropdown {% if label == 'speakers' %}active{% endif %}">
                    <a href="{% url "event.speaker_edit" event.pk %}">{% trans "Speaker(s)" %}</a>
                </li>
                <li role="presentation" class="dropdown {% if label == 'regconf' %}active{% endif %}">
                    <a href="{% url "event.regconf_edit" event.pk %}">{% trans "Registration" %}</a>
                </li>
                <li role="presentation" class="dropdown {% if label == 'pricing' %}active{% endif %}">
                    <a href="{% url "event.pricing_edit" event.pk %}">{% trans "Pricing(s)" %}</a>
                </li>
                <li role="presentation" class="dropdown {% if label == 'sponsorship' %}active{% endif %}">
                    <a href="{% url 'sponsorship.level.edit' event.pk %}">Sponsorship</a>
                </li>
            </ul>
        </div>

        <div class="event-wrap">
            <form id="event-form" class="form-horizontal" action="." method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="forms">
                    <fieldset>
                        <legend>Sponsorship Levels</legend>
                        <hr>
                        <div id="sponsorship-levels">
                            {{ formset.management_form }}

                            {# Empty Form #}
                            <div class="empty-form" style="display: none">
                                <div class="extra-sponsorship_levels-wrapper">
                                    <h3>Sponsorship Level</h3>
                                    {% for field in formset.empty_form %}
                                        {% if field.is_hidden %}
                                            {{ field }}
                                        {% elif field.field.is_checkbox %}

                                            <div class="form-group">
                                                <div class="col-md-9">
                                                    <div class="checkbox">
                                                        <label>
                                                            {{ field }} {{ field.label }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        {% else %}
                                            <div class="form-group row {% if field.errors %}has-danger{% endif %}">
                                                <label class="col-md-3 form-control-label"
                                                       for="{{ field.id_for_label }}">
                                                    {{ field.label }} {% if field.field.required %} * {% endif %}
                                                </label>
                                                <div class="col-md-9">
                                                    {% render_field field class="form-control" %}
                                                    {% if field.errors %}
                                                        {% for field_error in field.errors %}
                                                            <span id="{{ field.id_for_label }}-help-block"
                                                                  class="help-block has-danger">{{ field_error }}</span>
                                                        {% endfor %}
                                                    {% endif %}
                                                    {% if field.help_text %}
                                                        <span class="help-block">{{ field.help_text }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <button type="button" class="btn btn-danger" data-formset-remove-form>
                                        Remove Sponsorship Level
                                    </button>
                                    <hr>
                                </div>
                            </div>

                            <div class="extra-forms">
                                {% for form in formset.forms %}
                                    <div class="extra-sponsorship_level-form-{{ forloop.counter0 }}">
                                        <h3>Sponsor Level</h3>
                                        {% include 'sponsorships/partials/_form.html' %}
                                    </div>
                                {% endfor %}
                            </div>

                            <fieldset class="controls">
                                <button type="button" class="btn btn-success" id="formset-add-form"
                                        data-formset-add-form>
                                    Add New Sponsorship Level
                                </button>
                            </fieldset>
                        </div>
                    </fieldset>

                    <input type="submit" class="btn btn-success" value="{% trans 'Save Changes' %}" name="_save"/>
                    <a href="{{ event.get_absolute_url }}" class="btn btn-danger"> Cancel</a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/slug.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/sponsorship-formset.js"></script>

    <script type="text/javascript">
        new Formset(document.querySelector('#sponsorship-levels'), 'sponsorship_levels')
    </script>

    {% include 'tags/autocomplete.html' %}
{% endblock %}
