<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd"> 
<html>
<head>
<title>Sponsorship Receipt</title>
<link rel="stylesheet" href="{{ THEME_URL }}media/css/styles.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/sponsorships.css" type="text/css" />
</head>
<body>
<div id="sponsorship-receipt">
<p>RECEIPT ACKNOWLEDGEMENT UNDER </p>
<p><strong>I.R.C. &sect; 170 (f)(8) </strong></p>
<p>&nbsp; </p>
<p><strong>{{ SITE_GLOBAL_SITEDISPLAYNAME }}</strong></p>
<p>(&sect;501&copy; {# add Sponsorships501C here #} exemption number: {# add TaxIDNumber here #}) </p>
<p>&nbsp; </p>
<p>Wishes to acknowledge the </p>
<p>Gracious gift of </p>
<p><strong>{{ sponsorship.first_name }} {{ sponsorship.last_name }}</strong></p>
<p><strong>{{ sponsorship.company }}</strong></p>
<p>&nbsp; </p>
<p>in the amount of </p>
<p><strong>{{ sponsorship.sponsorship_amount }}</strong></p>
<p>&nbsp; </p>
	{% if sponsorship.allocation %}
		<p>to be allocated to </p>
		<p><strong>{{ sponsorship.allocation }}</strong></p>
		<p>&nbsp; </p>
	{% endif %}
<p>Received on {{ sponsorship.create_dt|date:"D d M Y P" }} </p>
<p>&nbsp; </p>
<p>{# SponsorshipsReceiptStatement here #}</p>
</div>
</body>
</html>