{% extends 'top_menu/admin_top-new.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load sponsorship_tags %}


{% block current_app %}
<li class="dropdown">
    <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">
        <img class="nav-icon" src="{% static 'famfamfam/icons/money.png' %}"/>{% trans 'Sponsorships' %}
    </a>

    {% if sponsorship %}
        {% sponsorship_current_app request.user sponsorship %}
    {% else %}
        {% sponsorship_current_app request.user %}
    {% endif %}
</li>
{% endblock %}