{% extends "sponsorships/base.html" %}
{% load i18n %}
{% load sponsorship_tags %}
{% load base_filters %}

{% block title %}{% trans 'View a Sponsorship' %}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/sponsorships.css">
{% endblock %}

{% block content %}
<div class="t">
    <h1>{% trans 'View Sponsorships' %}</h1>

    <div class="sponsorship-view">
        <div class="label">{% trans 'Sponsorship Amount' %}:</div>
        <div><b>{{ sponsorship.sponsorship_amount }}</b></div>
        <div class="clear-left"></div>
        {% if sponsorship.allocation %}
        <div class="label">{% trans 'Event Sponsored' %}:</div>
        <div>{{sponsorship.allocation }}</div>
        <div class="clear-left"></div>
        {% endif %}
        <div class="label">{% trans 'Invoice ID' %}:</div>
        {% if sponsorship.invoice %}
        <div><a href="{% url 'invoice.view' sponsorship.invoice.id %}">{{ sponsorship.invoice.id }}</a></div>
        {% else %}
        <div>n/a</div>
        {% endif %}
        <div class="clear-left"></div>
        {% if sponsorship.user %}
        <div class="label">{% trans 'User' %}:</div>
        <div><a href="{% url 'profile' sponsorship.user.username %}">{{sponsorship.user.username }}</a></div>
        <div class="clear-left"></div>
        {% endif %}
        <br/>

        <div class="label">{% trans 'Name' %}:</div>
        <div>{{ sponsorship.first_name }} {{ sponsorship.last_name }}</div>
        <div class="clear-left"></div>
        <div class="label">{% trans 'Company' %}:</div>
        <div>{{ sponsorship.company }}</div>
        <div class="clear-left"></div>
        <div class="label">{% trans 'Address' %}:</div>
        <div>{{ sponsorship.address }} {{ sponsorship.address2 }}
            {{ sponsorship.city }} {{ sponsorship.state }} {{ sponsorship.zip_code }} {{ sponsorship.country }}
        </div>
        <div class="clear-left"></div>
        <div class="label">{% trans 'Phone' %}:</div>
        <div>{{ sponsorship.phone }}</div>
        <div class="clear-left"></div>
        <div class="label">{% trans 'Email' %}:</div>
        <div>{{ sponsorship.email|obfuscate_email }}</div>
        <div class="clear-left"></div>
        <br/>

        <div class="label">{% trans 'Referred By' %}:</div>
        <div>{{ sponsorship.referral_source }}</div>
        <div class="clear-left"></div>
        <div class="label">{% trans 'Comments' %}:</div>
        <div>{{ sponsorship.comments|safe }}</div>
        <div class="clear-left"></div>
        <br/>

        <div class="label">{% trans 'Create Date' %}:</div>
        <div>{{ sponsorship.create_dt|date:"long" }}</div>
        <div class="clear-left"></div>
    </div>
</div>
{% endblock %}
